/*#############################################################################
#                                                                             #
# Stylesheet to decorate the Github_User_Search webpage                       #
#                                                                             #
# Creation Date    - 18/11/2018                                               #
# Author           - Cameron Watt                                             #
# Authors Email    - wanderingfrostwizard@gmail.com                           #
# Tab width        - 2 SPACES                                                 #
#                                                                             # 
#############################################################################*/

head {
	text-align: center;
	color: blue;
}

#Watermark {
}

body {
	text-align: center;
}

#UserDetails {
	/* How to specify minimum width for each colums was found here
	   Code didn't need much modification from original
	https://www.w3schools.com/cssref/css3_pr_columns.asp */
    -webkit-columns: 100px 4; /* Chrome, Safari, Opera */
    -moz-columns: 100px 4; /* Firefox */
    columns: 100px 4;
}

footer {
	text-align: right;
	color: grey;
}
